<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="test_suite">
    <test name="TestResults">
        <classes>
            <class name="TestResults"/>
        </classes>
    </test> <!-- Test -->
    <test name="TestExceptions">
        <classes>
            <class name="TestExceptions"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
